In [1]:
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'pandas'

In [2]:
df = pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=['Col1','Col2','Col3','Col4'])

NameError: name 'pd' is not defined

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=['Col1','Col2','Col3','Col4'])

In [5]:
df.head()

      Col1  Col2  Col3  Col4
Row1     0     1     2     3
Row2     4     5     6     7
Row3     8     9    10    11
Row4    12    13    14    15
Row5    16    17    18    19

In [6]:
df.to_csv('Test1.csv')

In [7]:
df.iloc[0:3,0:2]

      Col1  Col2
Row1     0     1
Row2     4     5
Row3     8     9

In [8]:
type(df.loc:'Row1')

SyntaxError: invalid syntax (3068018512.py, line 1)

In [9]:
type(df.loc['Row1'])

pandas.core.series.Series

In [10]:
df.loc['Row1']

Col1    0
Col2    1
Col3    2
Col4    3
Name: Row1, dtype: int32

In [11]:
#converting DataFrames into arrays
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])